footer {
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
}

.btn-footer {
    font-size: 12px;
    font-weight: regular;
    text-decoration: none;
    color: #fff;
    font-weight: lighter;
}