/* /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Hasta aquí reset.css */

html {
    font-family: Montserrat;
    background-color: #2C2C2C;
}

.bars__menu {
    width: 30px;
    height: 30px;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 50%p;
    transform: translate(-50%, 50%);
}

.bars__menu span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: red;
}


/* Inicio de configuración antigua */

/* header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.logo {
    width: 95px;
    height: 48px;
}

.menu-section {
    display: flex;
    gap: 50px;
} */



/* .menu ul {
    list-style-type: none;
    padding: 0;
    border: 2px solid purple;
}

.menu a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    border-radius: 6px;
    border-bottom: 2px solid #2c2c2c;
    max-width: 200px;
    background: #7d7d7d;
    text-shadow: 1px 1px black;
}

.menu input[type="checkbox"],
.menu .fa-bars,
.menu .fa-xmark {
    position: absolute;
    margin: 0;
    padding: 0;
    right: 0px;
    top: 0;
    width: 43px;
    height: 43px;
}

.menu .fa-bars,
.menu .fa-xmark {
    font-size: 43px;
    pointer-events: none;
    border: 2px solid red;
}

.menu input[type="checkbox"] {
    opacity: 0;
}

.menu {
    color: white;
    position: relative;
    border: 2px solid blue;
}

.menu menu {
    display: none;
}

.menu input:checked~menu {
    display: block;
    position: absolute;
    top: 100%;
    left: -50%;
}

.menu input:checked~.fa-bars {
    display: none;
}

.menu input:not(:checked)~.fa-xmark {
    display: none;
}

.avatar {
    width: 48px;
    height: 48px;
    max-width: 48px;
} */